.btn {
  font-family: inherit;
  @include font(12, 600, 16, 0.09);
  text-transform: uppercase;

  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 25px;
  transition: background-color 300ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
