.contact-wrap {
  background-color: #191c26;
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;

  & > .container {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    background-size: calc(50% - 15px);
    background-position: center right;
    & > .container {
      flex-direction: row;
    }
  }
}

.form {
  padding-top: 100px;
  width: 100%;
  @include desktop {
    width: calc(50% + 15px);
    padding-top: 130px;
  }
}
.form-title {
  font-size: 42px;
  color: var(--second-header-color);
  margin-bottom: 44px;
  text-align: center;
  @include tablet {
    text-align: start;
  }
}
.contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @include tablet {
    justify-content: flex-start;
  }
}
.contact-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  padding-bottom: 8px;
  width: 418px;
  height: 24px;

  @include tablet {
    width: 330px;
  }
  @include desktop {
    width: 270px;
  }
}
.contact-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  width: 690px;
  margin-top: 44px;
  padding-bottom: 60px;

  @include desktop {
    width: 570px;
  }
}
.contact-form-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  &:first-child {
    margin-bottom: 44px;
  }
  transition: border-bottom-color 500ms linear;
  @include tablet {
    &:first-child {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.contact-form-item::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: uppercase;
  transition: color 500ms linear;
}
.contact-form-item:focus,
.contact-form-item:hover {
  outline: transparent;
  border-bottom-color: #ffffff;
}
.contact-form-item:focus::placeholder,
.contact-form-item:hover::placeholder {
  color: #ffffff;
}
.contact-btn {
  width: 160px;
  color: #ffffff;
  margin-top: 44px;
}
.contacts {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
  @include desktop {
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
  }
}
.contacts-title {
  font-size: 42px;
  color: var(--second-header-color);
  margin-bottom: 40px;
  text-align: center;
  @include tablet {
    text-align: start;
  }
}
.contacts-items {
  display: flex;
  align-items: flex-start;
}
.contacts-list {
  margin-bottom: 70px;
  @include tablet {
    max-width: 330px;
  }
  @include desktop {
    max-width: 270px;
  }
}
.contacts-items:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-icon {
  margin-right: 16px;
}
.contacts-links {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-address {
  font-weight: 700;
}
.contacts-pre-title {
  color: #ffffff;
  margin-bottom: 20px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.4);
    margin-right: 20px;
  }
}
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-div {
    display: flex;
  }
  .working-hours {
    margin-left: 30px;
  }
}
