.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    display: none;
  }
}

.js-open-menu {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;

  margin-right: 50px;
  margin-top: 30px;
}
.js-open-menu .icon-menu {
  display: none;
}
.js-open-menu.is-open .icon-menu {
  display: block;
}
.js-open-menu.is-open .icon-close {
  display: none;
}

.js-close-menu {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 30px;
}

.js-menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.js-menu-container.is-open {
  display: block;
}
